
.content-window {
    margin: 0;
    padding: 0px;
    z-index: 2;
    width: 0%;
    height: 96vh;
    right:0%;

    position: absolute;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color-main);

    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.animate-content-window{
    width:60%;
}

#content-offset {
    position: absolute;
    width: 98%;
    height: 100%;
    left: 2%;
}

#title {
    font-size: 4rem;
    color: var(--text-color-content);
}

.title-animation{
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.description-animation{

}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

#description {
    font-size: 1.1rem;
    color: var(--text-color-content);
    width: 95%;
    margin-bottom: 2vh;
}


#iframe-container {
    z-index: inherit;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    border: none;
    width: 95%;
    padding-bottom: 2vh;
    aspect-ratio: 16/9;
}

#gallery-container {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 5vh;
}

#gallery-container>a {
    font-size: 4rem;
}

#current-image {
    width: 50%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.GalleryButton {
    color: white;
    font-size: 3vw;
}

@media only screen and (max-width: 600px) {
    .content-window {
        top: 0vh;
        left: 0vw;
        width: 100%;
        height: 0%;
    }

    .animate-content-window{
        width:100%;
        height:70%;
    }

    #content-offset{
        left:1%;
    }

    #title{
        font-size: 1.8rem;
    }

    #description{
        font-size: 0.74rem;
    }

    iframe{
        width:100%;
    }

    #gallery-container{
        gap:5px;
    }

    #current-image {
        width:80%;
        aspect-ratio: 16/9;
        object-fit: contain;
    }
}