.terminal-window {
        margin: 0px;
        padding: 0px;
        z-index: 1;
        background-color: var(--background-color-secondary);

        width: 100%;
        height: 100vh;
        left: 0;

        position: absolute;

        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
}

.animate-terminal-window {
        width: 40%;
}

#input-field {
        z-index: 200;
        position: absolute;
        width: 98%;
        height: 4vh;
        left: 1vw;
        bottom:0vh;
        color: var(--text-color-terminal);
        font-size: 2rem;
        background-color: var(--background-color-tertiary);
        border: none;
        outline: none;
        font-family: 'Courier', sans-serif;
        user-select: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

#terminal-content {
        position: absolute;
        height: 94vh;
        width: 95%;
        top: 0;
        left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow-y: auto;
        overflow-x: hidden;
}

.terminal-line {
        font-family: 'Courier', sans-serif;
        color: var(--text-color-terminal);
        font-size: 1.1rem;
        padding-bottom: 0.5vh;
        width: 100%;
}

.ascii {
        font-family: 'courier';
        color: var(--text-color-terminal);
        font-size: 1.1rem;
        padding-bottom: 0.5vh;
        width: 100%;
}

.terminal-line>pre {
        width: 100%;
        white-space: pre-wrap;
}

.command-description {
        padding-left: 3.5vw;
}

.syntax {
        color: var(--text-highlight-color);
}

#input-field:not(:focus) {
        transition: font-size 0.3s ease, color 0.3s ease;
        font-size: 2rem;
        color: var(--text-color-terminal);
        animation: alert 2s ease-out 0s infinite normal none;
}

#input-field:not(:focus):hover {
        font-size: 2.1rem;
        color: var(--text-highlight-color);
}

#input-field:focus {
        transition: font-size 0.3s ease, color 0.3s ease;
        font-size: 2.1rem;
        color: var(--text-highlight-color);
}

@media only screen and (max-width: 600px) {
        html{
                width: 100vw;
                height:100vh;
                padding:0;
                overflow:hidden;
        }

        .terminal-window {
                left: 0vw;
                bottom: 0%;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-start;
        }
        
        #terminal-content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
        }

        .animate-terminal-window{
                height:30%;
                bottom:0%;
        }

        .terminal-line {
                font-size: 0.9rem;
        }

        .ascii{
                font-size: 0.6rem;
        }

        #input-field:not(:focus) {
                z-index: 4;
                font-size: 1rem;
                bottom:0%;
        }

        #input-field:not(:focus):hover {
                font-size: 1.1rem;
                color: var(--text-highlight-color);
        }
        
        #input-field:focus {
                transition: font-size 0.3s ease, color 0.3s ease;
                font-size: 1.1rem;
                color: var(--text-highlight-color);
        }
}

@keyframes alert {
			
        0% {
                transform:translateX(0);
        }
        5% {
                transform:translateX(-10px);
        }
        10% {
                transform:translateX(10px);
        }
        15% {
                transform:translateX(-10px);
        }
        20% {
                transform:translateX(10px);
        }
        25% {
                transform:translateX(-10px);
        }
        30% {
                transform:translateX(10px);
        }
        35% {
                transform:translateX(-10px);
        }
        40% {
                transform:translateX(10px);
        }
        45% {
                transform:translateX(-10px);
        }
        50% {
                transform:translateX(0);
        }
}