* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'hack';
    src: url('static/fonts/hack.json');
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    /* display: none; */
    z-index: 0;
}

html,
body {
    overflow: hidden;
    user-select: none;
}

p {
    font-family: 'hack', sans-serif;
    transform-origin: top left;
}

a {
    color: #20C20E;
    cursor: pointer;
}

#terminal-window {
    margin: 0px;
    padding: 0px;
    z-index: 1;
    background-color: #0D0D0D;

    width: 40%;
    height: 100vh;

    position: absolute;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

#input-field {
    position: absolute;
    width: 98%;
    height: 4vh;
    left: 1vw;
    color: #BF3A0A;
    font-size: 2rem;
    background-color: #0D0D0D;
    border: none;
    outline: none;
    font-family: 'Courier', sans-serif;
}

#terminal-content {
    position: absolute;
    height: 94vh;
    width: 100%;
    top: 0;
    left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.terminal-line {
    font-family: 'Courier', sans-serif;
    color: #BF3A0A;
    font-size: 1.1rem;
    margin-left:5%;
}

#content-window {
    margin: 0;
    padding: 0px;
    z-index: 2;
    width: 60%;
    height: 100vh;

    position: absolute;
    left: 40%;

    display: flex;
    flex-direction: column;

    background-color: #401404;

    overflow-y: auto;
}

#content-offset{
    position:absolute;
    width:98%;
    height:100%;
    left:2%;
}

#size-controller {
    z-index: 10;
    position: absolute;
    background: #0D0D0D;
    height: 100%;
    width: 0.5vw;
    top: 0vh;
    left: 0%;
    cursor: col-resize;
}

#size-controller::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -500%;
    border-style: solid;
    border-width: 38px 38px 38px 38px;
    border-color: transparent #401404 transparent transparent;
}

@media only screen and (max-width: 600px) {
    #content-window {
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 60%;
    }

    #terminal-window {
        left: 0vw;
        bottom: 0vh;
        width: 100vw;
        height: 40%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    #terminal-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #input-field {
        z-index: 4;
    }
}


#title {
    font-size: 4rem;
    color: #F2CDAC;
}

#description {
    font-size: 1.3rem;
    color: #F2CDAC;
    width: 95%;
    margin-bottom: 2vh;
}

#iframe-container {
    z-index: inherit;
}

iframe {
    border: none;
}

#gallery-container {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    width: 80%;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#gallery-container>a {
    font-size: 4rem;
}

#gallery {
    display: flex;
    width: 10vw;
    height: 20vh;
    color: white;
    justify-content: space-between;
    align-items: center;
}

#current-image {
    width: 50%;
    height: 80%;
    object-fit: cover;
}

.GalleryButton {
    color: white;
    font-size: 3vw;
}